.fade-in {
	animation: fadeIn 1s ease forwards;
}

.fade-in-delayed {
	animation: fadeIn 1s ease forwards;
	animation-delay: 1s;
}

.fade-in-late {
	animation: fadeIn 1s ease forwards;
	animation-delay: 1.8s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* style.css */
.fade-in-on-scroll {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-on-scroll.visible {
	opacity: 1;
	transform: translateY(0);
}

@keyframes heartbeat-slow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.heartbeat-slow {
	animation: heartbeat-slow 2.5s ease-in-out infinite;
}
